.icon-kongaixin:before {
  content: "\e618";
}

.icon-qq:before {
  content: "\e62d";
}

.icon-kongaixin1:before {
  content: "\e619";
}

.icon-zhanghao:before {
  content: "\e655";
}

.icon-pinglun:before {
  content: "\e62f";
}

.icon-zaicishurumima:before {
  content: "\e69e";
}

.icon-kongaixin2:before {
  content: "\e662";
}

.icon-aixin:before {
  content: "\e663";
}

.icon-mima:before {
  content: "\e65e";
}

.icon-weibo:before {
  content: "\e64c";
}

.icon-caidan:before {
  content: "\e63c";
}

.icon-bokeyuan:before {
  content: "\e603";
}

.icon-xiaoxi:before {
  content: "\e60c";
}

.icon-yanzhengma:before {
  content: "\e623";
}

.icon-wulumuqishigongandashujuguanlipingtai-ico-:before {
  content: "\e7f3";
}

.icon-weixin:before {
  content: "\e614";
}

.icon-zhanghao1:before {
  content: "\e678";
}

.icon-github-alt:before {
  content: "\e80a";
}

